<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link rel="stylesheet" href="../styles/disease.css" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="stylesheet" href="../styles/register.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="header">
      <h1>Dashboard</h1>
    </div>
    <main class="dashboard">
      <h2>Diseases Type</h2>
      <section class="append-here">
        <!-- <div class="disease-con">
            <img src="../images/Asthma.png" alt="malaria" />
            <p>Malaria</p>
          </div> -->
      </section>
    </main>
    <!-- Input Complaint Section -->
    <main class="disease" style="display: none">
      <h2>Ask your question</h2>
      <textarea
        name=""
        id=""
        cols="30"
        rows="12"
        placeholder="Type here"
      ></textarea>
      <div>
        <button class="disease-btn">Submit</button>
      </div>
    </main>

    <!-- Script Section -->
    <script src="../script/dashboard.js" type="module"></script>
  </body>
</html>
