<!DOCTYPE>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'styles.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/register.css' %}"/>
        <title>IsabiGPT-Account</title>
    </head>
    <body>
        <main class="homepage">
            <section class="logo">
                <img src="{% static 'images/IsabiGPT.png' %}" alt="Our Logo"/>
            </section>

            <!-- Login and Sign up Section -->
            <main class="login-and-reg" style="display: none">
                <div class="header">
                    <h1>IsabiGPT</h1>
                </div>

                {% block account %}

                {% endblock %}

            </main>
        </main>

        <!-- Script -->
        <script type="module" src="{% static 'main.js' %}"></script>
    </body>
</html>
