:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* CSS Variables */
  --blue: #2a47df;
  --gray: #a09fa0;

  /* Fonts */
  --inputfonts: 18px;
  --textweight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}
